#mission-container{
    height: 100%;
    display: grid;
    grid-template-rows: 3rem 1fr 4rem;
    color: rgb(200, 200, 200);
}

#countdown-container{
    grid-row: 1;
    display: flex;
    text-align: center;
    justify-content: center;
}

#countdown-container p{
    width: fit-content;
    align-self: center;
}

#trials-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;
    height: 90%;
    max-height: 90%;
    max-width: fit-content;
    overflow-y:hidden;
    overflow-wrap: break-word;
    grid-row: 2;
    list-style: none;
    padding-left: 1rem;
}

#mission-container form{
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

#mission-container form label{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mission-container form input{
    background-color: rgb(50, 50,50);
    border: none;
    color: rgb(200, 200, 200);
    border-radius: 8px;
    width: 98%;
    align-self: center;
    padding-inline: 0.5rem;
}

#mission-container form input:focus{
    outline: none;
}

#data-stat-level{
    margin: 0;
}

#error-message{
    position: absolute;
    background-color: orange;
    color: red;
    align-self: center;
    justify-self: center;
    padding-inline: 0.5rem;
}


#word-to-write{
    margin: 0;
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
}

#mission-container-finished{
    height: 100%;
    color: green;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

#mission-container-finished button{
    background-color: rgb(50, 50, 50);
    border-color: rgb(13, 13,13);
    color: rgb(200, 200, 200);
    text-shadow: 0 0 18px rgb(13,13,13);
    width: fit-content;
    padding-inline: 0.5rem;
    align-self: center;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px
}

.loose-text{
    color: red;
}

#endMessage{
    color: white;
}
/* 
@keyframes hideSlowly {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
} */