#main-upgrade-container{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    padding-top: 1rem;
}

#upgrade-container{
    /* border-top: 2px solid rgb(150, 150, 150);
    border-left: 2px solid rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
    border-top-left-radius: 22px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    padding-top: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    scroll-padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    height: fit-content;
    height: 400px;
    max-height: 400px;
}

#upgrade-container::-webkit-scrollbar{
    width: 8px;
    cursor: grab;
}

#upgrade-container::-webkit-scrollbar-track{
    border-radius: 12px;
    background-color: rgb(15,15,15);
}

#upgrade-container::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color: rgb(100,100,100);
}

#player-money-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.one-upgrade{
    border: rgb(150, 150, 150) 5px double;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 1fr 1fr; 
    align-items: center;
    padding-inline: 2rem;
    width: 80%;
}

.one-upgrade:first-child{
    grid-column: 1;
    grid-row: 1;
}

#data-stat-container{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.one-upgrade button{
    grid-column: 2;
    grid-row:2;
    border-radius: 5px;
}

.hidden{
    display: none;
}

.showError{
    animation: error-message 6s;
    position: absolute;
    border: 1.5px white solid;
    background-color: orange;
    columns: white;
    align-self: center;
    border: red 2px solid;
}

@keyframes error-message{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}