.window{
    background-color:rgb(13,13,13,0.8);
    border:solid 3px black;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: transform 0.22s;
    border-radius: 5px;
  }
  
  .header-window{
    background-color: rgb(13,13,13);
    display: grid;
    width: 100%;
    height: 1.5rem;
    cursor: grab;
    grid-template-columns: 1fr 5rem;
    text-align: center;
    color: rgb(150, 150, 150);
  }

  .header-window h3{
    align-self: center;
    grid-row: 1;
    grid-column: 1 / span 2;
    margin: 0;
  }

  .header-window:active{
    height: 1.8rem;
    background-color: rgb(20, 20, 20);
  }
  
  #close-window-button{
    position: absolute;
    height: 1.5rem;
    justify-self: end;
    align-self: end;
    border: none;
    background-color: rgb(13,13,13);
    cursor: pointer;
  }

#child-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}