.window{
    background-color:rgb(13,13,13,0.8);
    border:solid 3px black;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: transform 0.22s;
    border-radius: 5px;
  }
  
  .header-window{
    background-color: rgb(13,13,13);
    display: flex;
    width: 100%;
    height: 1.5rem;
    cursor: grab;
    justify-content: flex-end;
  }

  .header-window:active{
    height: 1.8rem;
    background-color: rgb(20, 20, 20);
  }
  
  .header-window button{
    height: 100%;
    align-self: flex-end;
    border: none;
    background-color: rgb(13,13,13);
    cursor: pointer;
  }

#child-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}