#generic-container{
    height: 100%;
    display: grid;
    grid-template-rows: 30rem 1fr;
}

#lore-container{
    grid-row: 1;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    color: green;
    font: 1.3rem monospace;
    text-shadow: 0 0 5px rgb(0, 215, 0);
    justify-self: center;
    margin-top: 5rem;
}

#button-skip-lore{
    grid-row: 2;
    outline: none;
    width: 5rem;
    height: 2rem;
    justify-self: center;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 5px rgb(0, 215, 0);
    box-shadow: 0 0 5px rgb(0, 215, 0);
    border: 3px solid green;
    background-color: black;
}

#button-start-game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    width: 7rem;
    height: 4rem;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 5px rgb(0, 215, 0);
    box-shadow: 0 0 5px rgb(0, 215, 0);
    border: 3px solid green;
    background-color: black;
    font-size: 1.2em;
}

h1{
    text-shadow: 0 0 5px rgb(0, 215, 0);
    color: white;
    text-align: center;
    margin-top: 5rem;
}