body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    gap: 0;
    background-color: darkgrey;
    cursor: default;
    user-select: none;
    font-family: Consolas, Courier, monospace;
    overflow: hidden;
    position: relative;
  }

#main-container{
  display: grid;
  grid-template-rows: 1fr 3rem;
  height: 100vh;
}